#oResultsInfo {
	position: absolute;
	left: 0px;
	top: 0px;
  	background-color: rgb(250,250,250); 	
  	width: 800px; 
  	height: 405px;
}

#listProtocols {
	position: absolute;
	left: 5px;
	top: 0px;
  	background-color: rgb(220,220,220); 	
  	width: 260px; 
  	height: 405px;
	overflow-y: auto;
	overflow-x: auto;
}

#listProtocols  ul li {
    list-style-type: none;
    margin-top: 10px;
    clear: left;
    cursor: pointer;
}
#listProtocols  ul {
    margin: 0px;
    padding: 0px;
    color: #525252;
}


#listProtocols > ul > li:hover {
  	color: red;
  	background: white;
}


#listProtocols  ul li {
    text-decoration: none;
    color: #525252;
}
/*
#listProtocols > ul > li:active {
    text-decoration: none;
    color: red;
  	background: white;
}
*/
#infoProtocol {
	position: absolute;
	left: 265px;
	top: 0px;
  	background-color: rgb(220,220,220); 	
  	width: 550px; 
  	height: 405px;
	overflow-y: auto;
	overflow-x: auto;
	font-family: monospace;
}

#infoProtocol p {
	margin: 5px;
}
